trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Checkout@1

  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '17'
