trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '17'

  - script: |
      echo "收集各模块 jar 到 ArtifactStagingDirectory"
      mkdir -p $(Build.ArtifactStagingDirectory)
      cp $(Build.SourcesDirectory)/vocabulary-service/target/*.jar $(Build.ArtifactStagingDirectory)/
      cp $(Build.SourcesDirectory)/ai-service/target/*.jar $(Build.ArtifactStagingDirectory)/
      cp $(Build.SourcesDirectory)/common/target/*.jar $(Build.ArtifactStagingDirectory)/
    displayName: 'Collect all module jars'

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)'
      artifact: 'all-modules-jars'

